<!DOCTYPE html>
<head>
	<%- include(root + '/views/template/header.ejs') %>
  <script src="/source/js/class.js"></script>
  <link rel="stylesheet" href="/source/css/class.css">
</head>

<body>
	<div class="flex h-full w-full ">
		<%- include(root + '/views/template/content.ejs') %> 
		<div class=" h-full max-w-full flex-1">
			<%- include(root + '/views/template/navbar.ejs') %>
			<div class=" p-1 mx-2 mt-2 h-full  " style="border: 1px solid black;">
        <div class=" px-2 py-2 fw-bold text-primary">
          Danh sách lớp học hiện có
        </div>
				<div class="table-responsive ">
					<table class="table table-bordered" id="dataTable">
						<thead>
							<tr>
								<th >Tên giảng viên</th>
                <th>Mã lớp</th>
								<th>Tên lớp</th>
								<th>Mã học phần</th>
                <th>Email</th>
							</tr>
						</thead>
						<tbody id="data-table">
              
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
  <script>
    function add_class(name, cid, cn, course, mail, id) {
      $("#data-table").append(`<tr >
        <td id="Row${id}">${name}</td>
        <td>${cid}</td>
        <td>${cn}</td>
        <td>${course}</td>
        <td>${mail}</td>
      </tr>`);
      $(`#Row${id}`).click(function() {
        window.location.href = `/account/${id}`;
      });
    }
    <% for (let i = 0; i < data.length; i++) { %>
    add_class('<%- data[i].name %>', '<%- data[i].cid %>', '<%- data[i].cn %>', '<%- data[i].course %>', '<%- data[i].email %>', '<%- data[i].id %>');
    <% } %>
    
    var  tableHead = document.getElementById("dataTable").getElementsByTagName('thead')[0];
    var list_name = tableHead.querySelectorAll('th');
    var finale = "";
    number_column = list_name.length;
    for (let i = 0; i < number_column; i++) {
      finale += `<th> <input type="text" id="Filter${i}" placeholder="Filter" class="w-full"> </th>`;
    }
    tableHead.innerHTML += `<tr>${finale} </tr>`;
    for (let i = 0; i < list_name.length; i++) {
      document.getElementById(`Filter${i}`).addEventListener("keyup", function () {
        FilterRemaster();
      });
    }
    function FilterRemaster() {
      var table = document.getElementById("dataTable");
      var tr = table.getElementsByTagName("tr");
      var input = new Array(number_column);
      for (let i = 0; i < number_column; i++) {
        input[i] = document.getElementById(`Filter${i}`).value.toUpperCase();
      }
      var TextValue;
      for (let i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName('td');
        var flag = true;
        for (let j = 0; j < number_column; j++) {
          if (td[j]) {
            if (td[j].querySelector('input')) {
              TextValue = td[j].querySelector('input').value;
            }
            else {
              TextValue = td[j].textContent || td[j].innerText;
            }
            if (TextValue.toUpperCase().indexOf(input[j]) == -1) {
              flag = false;
              break;
            }
          }
        }
        if (flag) {
          tr[i].style.display = "";
        }
        else {
          tr[i].style.display = "none";
        }
      }
    }
  </script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>