<!DOCTYPE html>
<head>
	<%- include(root + '/views/template/header.ejs') %>
  <script src="/source/js/class.js"></script>
  <link rel="stylesheet" href="/source/css/class.css">
</head>

<body>
	<div class="flex h-full w-full ">
		<%- include(root + '/views/template/content.ejs') %> 
		<div class=" h-full max-w-full flex-1">
			<%- include(root + '/views/template/navbar.ejs') %>

      <div class=" p-1 mx-2 mt-2" style="border: 1px solid black;">
        <div class=" px-2 py-2 fw-bold text-primary flex hover:bg-slate-200 cursor-pointer" id="date-list">
          <div class="mr-auto">
            Thông tin lịch hẹn
          </div>
          <div class=" mr-2"><ion-icon name="chevron-up-outline"></ion-icon></div>
        </div>
        <div class="table-responsive ">
          <table class="table table-bordered" id="dateTable">
            <thead>
              <tr>
                <th>#</th>
                <th>Chủ cuộc hẹn</th>
                <th>ID</th>
                <th>Ghi chú chung</th>
              </tr>
            </thead>
            <tbody id="date-table">
              <% for (const [key, value] of Object.entries(info)) { %>
                <tr>
                  <td><%- key %></td>
                  <td><%- value.name %></td>
                  <td><%- value.id_owner %></td>
                  <td class="nbAMtUm1un"><%- value.note %></td>
                  <td style="color: blue; text-decoration: underline; " class="date-detail cursor-pointer">Detail
                    <div class="hidden"> 
                      <% value.date.sort((x, y) => {return x < y ? -1 : 1}) %>
                      <% for (let i = 0; i < value.date.length; i++) { %>
                        <div><%- value.date[i][0] %> </div>
                        <div><%- value.date[i][1] %> </div>
                      <% } %>
                    </div>
                    <div class="hidden">
                      <% for (let i = 0; i < value.file.length; i++) { %>
                        <div><%- value.file[i][0] %></div>
                        <div><%- value.file[i][1] %></div>
                      <% } %>
                    </div>
                  </td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <div class=" p-1 mx-2 mt-2" style="border: 1px solid black;">
        <div class=" px-2 py-2 fw-bold text-primary flex hover:bg-slate-200 cursor-pointer" id="get-list">
          <div class="mr-auto">
            Lịch hẹn đã gửi
          </div>
          <div class=" mr-2"><ion-icon name="chevron-up-outline"></ion-icon></div>
        </div>
        <div class="table-responsive ">
          <table class="table table-bordered" id="getTable">
            <thead>
              <tr>
                <th>#</th>
                <th>ID</th>
                <th>Người nhận</th>
                <th>Thời điểm bắt đầu</th>
                <th>Thời điểm kết thúc</th>
                <th>Ghi chú</th>
              </tr>
            </thead>
            <tbody id="get-table">
              <% for (let v of wait) { %>
                <tr>
                  <td><%- v.idx %></td>
                  <td><%- v.id %></td>
                  <td><%- v.name %></td>
                  <td><%- v.start %></td>
                  <td><%- v.end %></td>
                  <td class="noted-v1"><%- v.note %></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <div class=" p-1 mx-2 mt-2" style="border: 1px solid black;">
        <div class=" px-2 py-2 fw-bold text-primary flex hover:bg-slate-200 cursor-pointer" id="set-list">
          <div class="mr-auto">
            Lịch hẹn đã nhận
          </div>
          <div class=" mr-2"><ion-icon name="chevron-up-outline"></ion-icon></div>
        </div>
        <div class="table-responsive ">
          <table class="table table-bordered" id="setTable">
            <thead>
              <tr>
                <th>#</th>
                <th>Thời điểm bắt đầu</th>
                <th>Thời điểm kết thúc</th>
                <th>Ghi chú</th>
              </tr>
            </thead>
            <tbody id="set-table">
              <% for (let v of pend) { %>
                <tr>
                  <td><%- v.idx %></td>
                  <td><%- v.start %></td>
                  <td><%- v.end %></td>
                  <td class="noted-v2"><%- v.noteTo %></td>
                  <td><button class="btn btn-primary">Chọn</button></td>
                </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <style>
        #form-c > div, #form-r > div, #form-i > div {
          margin-bottom: 0.5rem;
        }		
      </style>
      
      <div class=" fixed top-1/2 left-1/2 w-1/3 min-w-[438px] h-auto flex flex-col items-center rounded-md bg-[#cacedb] overflow-y-auto" style=" max-height: 90%;transform: translate(-50%, -50%); border: 1px solid black; z-index: 998; display: none; " id="info">
        <div class=" p-1 w-full" >
          <div class=" px-2 py-2 fw-bold fs-5 text-primary flex justify-center">
            <div class="">
              Ghi chú cuộc hẹn
            </div>
          </div>
          <div class="absolute top-0 right-0 off-i" style="z-index: 899;">
            <button class="btn btn-normal"><ion-icon name="close-outline"></ion-icon></button>
          </div>
          <div>
            <form class="w-full px-4 mt-3" id="form-i">
              <div class="form-group">
                <div>Mã cuộc hẹn: <span id="PlqUak"></span></div>
              </div>
              <div class="form-group">
                <div>ID người nhận: <span id="MqaiUw"></span></div>
              </div>
              <div class="form-group">
                <div>Tên người nhận: <span id="NajycTa"></span></div>
              </div>
              <div class="form-group">
                <div>Nội dung</div>
                <textarea name="desc" id="OiwJuma" cols="" rows="6" class="w-full rounded py-1 px-2 form-control" value=""></textarea>
              </div>
            </form>
            <div class="w-full flex flex-row-reverse py-3 pr-3 bg-[#b8bed1]">
              <button class="btn btn-primary" id="sm">Done</button>
            </div>
          </div>
        </div>
      </div>
      <div class=" fixed top-1/2 left-1/2 w-1/3 min-w-[438px] h-auto flex flex-col items-center rounded-md bg-[#cacedb] overflow-y-auto" style=" max-height: 90%;transform: translate(-50%, -50%); border: 1px solid black; z-index: 998; display: none; " id="cc">
        <div class=" p-1 w-full" >
          <div class=" px-2 py-2 fw-bold fs-5 text-primary flex justify-center">
            <div class="">
              Thông tin chi tiết
            </div>
          </div>
          <div class="absolute top-0 right-0 off-c" style="z-index: 899;">
            <button class="btn btn-normal"><ion-icon name="close-outline"></ion-icon></button>
          </div>
          <div>
            <form class="w-full px-4 mt-3" id="form-r">
              <div class="form-group">
                <div>Thời điểm bắt đầu - kết thúc</div>
                <div class="w-full flex flex-col" id="AkUkxmM">
                  
                </div>
              </div>
              <div class="form-group">
                <div>Nội dung</div>
                <textarea name="desc" id="OixHatQr" cols="" rows="6" class="w-full rounded py-1 px-2 form-control" value=""></textarea>
                <div id="BxhYtlPa" class=" flex flex-wrap flex-row"></div>
                <input type="file" class=" hidden" id="file-input1" name="file-document" multiple>
                <button type="button" class="mt-2" onclick="document.getElementById('file-input1').click()"><ion-icon name="document-outline" style="font-size: 1.5rem;"></ion-icon></button>
                <div id="KjYhjHat" class=" flex flex-wrap flex-row"></div>
                <div id="fdWjfkwiA"></div>
              </div>
            </form>
            <div class="w-full flex flex-row-reverse py-3 pr-3 bg-[#b8bed1]">
              <button class="btn btn-primary" id="submit">Done</button>
            </div>
          </div>
        </div>
      </div>
      <div class=" p-1 mx-2 mt-2" style="border: 1px solid black;">
        <div class=" px-2 py-2 fw-bold text-primary flex hover:bg-slate-200 cursor-pointer" id="addJaiuAjw">
          <div class="mr-auto">
            Đặt lịch hẹn
          </div>
          <div class=" mr-2"><ion-icon name="chevron-up-outline"></ion-icon></div>
        </div>
        <div>
          <form class="w-full px-4 mt-3" id="form-c">
            <div class="form-group">
              <div>Thời điểm bắt đầu - kết thúc</div>
              <button type="button" class="btn btn-outline-primary" id="add-date-time"><ion-icon name="add-outline"></ion-icon></button>
              <div class="w-full flex flex-wrap" id="WKjqoIuxJns">
                
              </div>
            </div>
            <div class="form-group">
              <div>Nội dung</div>
              <textarea name="desc" id="desc" cols="" rows="6" class="w-full rounded py-1 px-2 form-control" value=""></textarea>
              <input type="file" class=" hidden" id="file-input" name="file-document" multiple>
              <button type="button" class="mt-2" onclick="document.getElementById('file-input').click()"><ion-icon name="document-outline" style="font-size: 1.5rem;"></ion-icon></button>
              <div id="file-preview" class=" flex flex-wrap flex-row"></div>
            </div>
          </form>
          <div class="w-full flex flex-row-reverse py-3 pr-3 bg-[#b8bed1]">
            <button class="btn btn-primary" id="submit-cc">Done</button>
          </div>
        </div>
      </div>

			<div class=" p-1 mx-2 mt-2" style="border: 1px solid black;">
        <div class=" px-2 py-2 fw-bold text-primary flex hover:bg-slate-200 cursor-pointer" id="title-list">
          <div class="mr-auto">
            Danh sách sinh viên
          </div>
          <div class=" mr-2"><ion-icon name="chevron-up-outline"></ion-icon></div>
        </div>
        <div class="py-2">
          <button class="btn btn-primary items-center flex flex-row" id="button-add-student"><ion-icon name="add-outline"></ion-icon> <span class=" pl-1">Add</span></button>
        </div>
        <div class="table-responsive ">
          <table class="table table-bordered" id="dataTable">
            <thead>
              <tr>
                <th>MSSV</th>
                <th >Tên sinh viên</th>
                <th>Mã lớp</th>
                <th>Tên lớp</th>
                <th>Mã học phần</th>
                <th>Ngành</th>
                <th>Khoa</th>
              </tr>
            </thead>
            <tbody id="data-table">
              <tr class="skip" style="display: none;" id="add-student">
                <td><input type="text" class="w-full" id="input-class" placeholder="Mã lớp"></td>
                <td>
                  <form id="student-list" enctype="multipart/form-data" class="flex flex-row gap-1">
                    <input type="text" class="w-full" id="input-student" name="id" placeholder="MSSV">
                    <input type="file" name="file" id="add-student-file" class="hidden">
                    <div class=" group/guide">
                      <button id="pick-file"><ion-icon name="document-outline" class=" text-2xl"></ion-icon></button>
                      <span class=" absolute bg-[#616161] text-white text-center p-2 rounded-md hidden group-hover/guide:block text-wrap w-52" style="transform: translate(-50%, -130%);">Chỉ chấp nhận file csv và những thông tin ở cột "MSSV" và "classID" sẽ được thêm vào tương ứng với MSSV và Mã lớp</span>
                    </div>
                  </form>
                </td>
                <td colspan="5">
                  <div class="flex flex-row gap-1" >
                    <button class="btn btn-success" id="submit-add-student">Done</button>
                    <button class="btn btn-danger" id="del-add-student"><ion-icon name="trash-outline"></ion-icon></button>
                  </div>
                </td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
		</div>
	</div>
  <script>
    $("#set-table button").click(function() {
      let par = $(this).closest("tr").find("td");
      if ($(this).hasClass("btn-success")) {
        let idx = par.eq(0).html();
        let st = par.eq(1).find("input");
        let ed = par.eq(2).find("input");
        if (st.attr('data-set') !== st.val() || ed.attr('data-set') !== ed.val()) {
          fetch('/api/set-user-date', {
            method: "POST",
            headers: {
              "Content-Type": "application/json"
            },
            body: JSON.stringify({id: idx, start: st.val(), end: ed.val()})
          }).then(async function(response) {
            if (!response.ok) {
              let x = await response.json();
              throw new Error(`Error: ${x.message}`);
            }
            return response.json();
          }).then(data => {alert(data.message); window.location.reload();}).catch(err => {alert(err.message);});
        }
      }
      $(this).toggleClass("btn-success");
      $(this).text($(this).text() === "OK" ? "Chọn" : "OK");
      for (let i of [1, 2]) {
        let cur = par.eq(i);
        if (cur.find("input").length > 0) {
          cur.html(cur.find("input").attr('data-set'));
        }
        else {
          cur.html(`<input type="datetime-local" value='${cur.html()}' data-set='${cur.html()}'>`);
        }
      }
    });
  </script>
  <script>
    $(".off-i").click(function() {$("#info").hide();});
    $(".noted-v1").click(function() {
      $("#OiwJuma").val($(this).text());
      let cur = $(this).parent().find("td");
      $("#PlqUak").text(cur.eq(0).text());
      $("#MqaiUw").parent().show();
      $("#NajycTa").parent().show();
      $("#MqaiUw").text(cur.eq(1).text());
      $("#NajycTa").text(cur.eq(2).text());
      $("#info").show();
    });
    $(".noted-v2").click(function() {
      $("#OiwJuma").val($(this).text());
      $("#PlqUak").text($(this).parent().find("td").eq(0).text());
      $("#MqaiUw").parent().hide();
      $("#NajycTa").parent().hide();
      $("#info").show();
    });
    $("#sm").click(function() {
      const data = new FormData(document.getElementById("form-i"));
      data.append('id', $("#PlqUak").text());
      data.append('user', $("#MqaiUw").text());
      for (const [n, v] of data.entries()) {
        console.log(n, v);
      }
      fetch('/api/change-note', {method: "POST", body: data})
      .then(async function(response) {
				if (!response.ok) {
					let x = await response.json();
					throw new Error(`Error: ${x.message}`);
				}
				return response.json();
			}).then(data => {alert(data.message); window.location.reload();}).catch(err => {alert(err.message);});
    });
  </script>
  <script>
    const dtI = new DataTransfer();
    $("#file-input1").change(function(event) {
      const file = event.target.files;
      const cur = $("#KjYhjHat");
      for (let i = 0; i < file.length; i++) {
        dtI.items.add(file[i]);
        cur.append(`<div class="m-1 px-1 rounded" style="border: 1px solid black;">${file[i].name}<button type="button" data-id="${file[i].name}"><ion-icon name="close-outline"></ion-icon></button></div>`);
      }
      this.files = dtI.files;
      cur.find("button").off('click');
      cur.find("button").click(function() {
        const target_name = $(this).attr('data-id');
				//$(this).parent().remove();
				for (let n = 0; n < dtI.items.length; n++) {
					if (target_name === dtI.items[n].getAsFile().name) {
						$(`#KjYhjHat div`).eq(n).remove();
						dtI.items.remove(n);
						break;
					}
				}
				document.getElementById("file-input1").files = dtI.files;
      });
    });
    $("#submit").click(function() {
      const data = new FormData(document.getElementById("form-r"));
      fetch('/api/change-date', {method: "POST", body: data})
      .then(async function(response) {
				if (!response.ok) {
					let x = await response.json();
					throw new Error(`Error: ${x.message}`);
				}
				return response.json();
			}).then(data => {alert(data.message); window.location.reload();}).catch(err => {alert(err.message);});
    });
  </script>
  <script>
    const dt = new DataTransfer();
		$("#file-input").change(function(event) {
			console.log("chage");
			const file = event.target.files;
			const pr = $("#file-preview");
			for (let i = 0; i < file.length; i++) {
				dt.items.add(file[i]);
				pr.append(`<div class="m-1 px-1 rounded" style="border: 1px solid black;">${file[i].name}<button type="button" data-id="${file[i].name}"><ion-icon name="close-outline"></ion-icon></button></div>`);
			}
			this.files = dt.files;
      $(`#file-preview button`).off('click');
			$(`#file-preview button`).click(function() {
				const target_name = $(this).attr('data-id');
				//$(this).parent().remove();
				for (let n = 0; n < dt.items.length; n++) {
					if (target_name === dt.items[n].getAsFile().name) {
						$(`#file-preview div`).eq(n).remove();
						dt.items.remove(n);
						break;
					}
				}
				document.getElementById("file-input").files = dt.files;
			});
		});
		function bratuSLegs() {
			const formData = new FormData(document.getElementById("form-c"));
      $("#data-table tr:not([class='skip'])").each(function(i, item) {
        if ($(item).hasClass("table-primary")) {
          formData.append('target[]', $(item).find("td").eq(1).attr('id'));
        }
      });
			for (const [n, v] of formData.entries()) {
				console.log(n, v);
			}
			console.log(formData);
			fetch('/api/set-date', {method: "POST", body: formData})
			.then(async function(response) {
				if (!response.ok) {
					let x = await response.json();
					throw new Error(`Error: ${x.message}`);
				}
				return response.json();
			}).then(data => {alert(data.message); window.location.reload();}).catch(err => {alert(err.message);});
		}
		$("#submit-cc").click(bratuSLegs);
  </script>
  <script>
    $("#date-list").click(function() {
      $("#date-list ~ *").toggle();
      $("#date-list ion-icon").toggleClass("RtkAjwQi");
    });
    $("#get-list").click(function() {
      $("#get-list ~ *").toggle();
      $("#get-list ion-icon").toggleClass("RtkAjwQi");
    });
    $("#set-list").click(function() {
      $("#set-list ~ *").toggle();
      $("#set-list ion-icon").toggleClass("RtkAjwQi");
    });
    $("#title-list").click(function() {
      $("#title-list ~ *").toggle();
      $("#title-list ion-icon").toggleClass("RtkAjwQi");
    });
    $("#addJaiuAjw").click(function() {
      $("#addJaiuAjw ~ *").toggle();
      $("#addJaiuAjw ion-icon").toggleClass("RtkAjwQi");
    });
    $("#add-date-time").click(function() {
      $("#WKjqoIuxJns").append(`<div class="w-full flex justify-between my-1" >
        <input type="datetime-local" class="form-control" name="time[]" style=" width: 47%;">
        <input type="datetime-local" class="form-control" name="time[]" style=" width: 47%">
        <button type="button" class="btn btn-outline-danger" onclick="$(this).parent().remove();"><ion-icon name="trash-outline"></ion-icon></button>
      </div>`);
    });
    $("#add-date-time").click();
    $(".off-c").click(function() {
      $("#cc").hide();
    });
    $(".date-detail").click(function() {
      let cur = $(this).find(" > div");
      const list_time = [];
      const list_file = [];
      cur.eq(0).find("div").each(function() {
        list_time.push($(this).html().replace('T', ' '));
      });
      cur.eq(1).find("div").each(function() {
        list_file.push($(this).html());
      });
      $("#AkUkxmM, #BxhYtlPa, #KjYhjHat, #fdWjfkwiA").html("");
      for (let i = 0; i < list_time.length; i += 2) {
        $("#AkUkxmM").append(`<div> ${list_time[i]} - ${list_time[i + 1]} </div>`);
      }
      for (let i = 0; i < list_file.length; i += 2) {
        $("#BxhYtlPa").append(`<div class="m-1 px-1 rounded flex flex-row cursor-pointer" style="border: 1px solid black;" data-id="${list_file[i + 1]}">${list_file[i]}<button type="button" ><ion-icon name="close-outline"></ion-icon></button></div>`);
      }
      $("#BxhYtlPa div").click(function() {
        window.location.href = (`/api/download?l=${$(this).attr("data-id")}&n=${$(this).text()}`);
      });
      function add(x) {
        $("#fdWjfkwiA").append(`<input type="hidden" name="pl[]">`);
        $("#fdWjfkwiA input").last().val(x);
      }
      $("#BxhYtlPa button").click(function() {
        add($(this).parent().attr('data-id'));
        $(this).parent().remove();
      });
      cur = $(this).parent().find("td");
      $("#OixHatQr").val(cur.eq(3).text());
      add(cur.eq(0).text());
      $("#cc").show();
    });
  </script>
  <script>
    function add_class(name, cid, cn, course, role, position, id) {
      $("#data-table").append(`<tr >
        <td>${id}</td>
        <td id="${id}">${name}</td>
        <td>${cid}</td>
        <td>${cn}</td>
        <td>${course}</td>
        <td>${role}</td>
        <td>${position}</td>
      </tr>`);
      $(`#${id}`).click(function() {
        event.stopPropagation();
        window.location.href = `/account/${id}`;
      });
    }
    <% for (let i = 0; i < data.length; i++) { %>
      add_class('<%- data[i].name %>', '<%- data[i].cid %>', '<%- data[i].cn %>', '<%- data[i].course %>', '<%- data[i].role %>', '<%- data[i].position %>','<%- data[i].id %>');
      <% } %>
    $("#data-table tr:not([class='skip'])").click(function() {
      $(this).toggleClass("table-primary");
    });
    let SelectorAllElement = false;
    $("#data-table tr:not([class='skip'])").mouseover(function(event) {
      if (SelectorAllElement) {
        $(this).click();
      }
    });
    $(document).keydown((event) => {
      if (event.key === "Shift") {
        SelectorAllElement = !SelectorAllElement;
      }
    });
  </script>
  <script>
    $("#button-add-student").click(function() {
      $("#add-student").show();
    }); 
    $("#del-add-student").click(function() {
      $("#add-student input").val("");
      $("#add-student input[type!='file']").prop('disabled', false);
      $("#add-student").hide();
    });
    $("#pick-file").click(function() {
      $("#add-student-file").click();
    });
    $("#add-student-file").change(function(event) {
      const file = event.target.files[0];
      console.log(file);
      if (file) {
        $("#add-student input[type!='file']").val("");
        $("#add-student input[type!='file']").prop('disabled', true);
        $("#input-student").val(file.name);
      }
      else {
        $("#add-student input[type!='file']").val("");
        $("#add-student input[type!='file']").prop('disabled', false);
      }
    }); 
    $("#student-list").submit(function(event) {event.preventDefault();});
    $("#submit-add-student").click(function() {
      const data = new FormData(document.getElementById("student-list"));
      data.append('id_class', $("#input-class").val());
      for (const [n, v] of data.entries()) {
        console.log(n, v);
      }
      fetch('/api/add-student', {
        method: "POST",
        body: data
      })
      .then(async function(response) {
        if (!response.ok) {
          let x = await response.json();
          throw new Error(`Error: ${x.message}`);
        }
        return response.json();
      }).then(data => {alert(data.message); }).catch(err => {alert(err.message);});
    });
  </script>
  <script src="/source/js/multisearch.js"></script>
  <script>trigger_multisearch("dataTable");trigger_multisearch("dateTable");trigger_multisearch("getTable");trigger_multisearch("setTable");</script>
	<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>